.button__default {
  padding: 0;
  cursor: pointer;
  width: 54px;
  height: 26px;
  border-radius: 3px;
  border: none;
  background: none;
}

.button__header {
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  color: #000;
  background-color: #2BE080;
}


.button__header-account {
  width: 109px;
  height: 36px;
  border: 2px solid #F5F5F5;
  border-radius: 20px;
  background-image: url('../../images/auth-btn.svg');
  background-repeat: no-repeat;
  background-position: 14px 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-left: 30px;
  color: #FFFFFF;
}

.button__header-menu {
  margin-right: 14px;
  width: 44px;
  height: 44px;
  background-image: url('../../images/header-menu-btn.svg');
  background-repeat: no-repeat;
}

/* Pixel Perfect */
.button__mobmenu-close {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 11px;
  top: 11px;

  background-image: url('../../images/exit-mobile-menu-btn.svg');
  background-repeat: no-repeat;
  background-size: contain;

}


.button__mobmenu-account {
  display: flex;
  align-items: center;
  width: 100px;
  height: 30px;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;

  background-image: url('../../images/account_mob-menu.svg');
  background-position: 70px;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .button__header {
    width: 76px;
    height: 32px;
    font-size: 12px;
    line-height: 16px;
  }

  .button__header-menu {
    margin-right: 30px;
  }
  .button__mobmenu-account {
    margin-bottom: 92px;
  }
}


@media screen and (min-width: 769px) {
  .button__header-menu {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 1280px;
  }
}

/*

.button__promo {
  font-style: 12px;
  font-weight: medium;
  width: 76px;
}
*/