/* * {
  border: 1px solid red;
} */

.header {
display: grid;
grid-auto-columns: 1fr; 
grid-template-columns: min-content 1fr min-content; 
gap: 0px 0px; 

margin: 0 auto;
height: 74px;
background: #073042;

}
/* .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 74px;
  background: #073042;
} */

.header__logo {
  display: block;
  width: 38px;
  height: 38px;
  margin-left: 14px;
}


.header__link-items {
  display: flex;
  align-content: center;
  align-items: baseline;
  margin-right: 14px;
  list-style-type: none;
}

.header__link-items_auth {
  display: none;
}

.header__link-item {
  margin-right: 30px;
}

.header__link-item:last-child {
  margin-right: 0px;
}

.header__link {
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
}


.header__mobmenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  background-color: #202020;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;

  z-index: 9999;
}

.header__mobmenu-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__mobmenu-title {
  margin: 144px 0 0;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  line-height: 22px;
}

.header__mobmenu-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 24px 0 0;
  list-style-type: none;
}

.header__mobmenu-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  padding-bottom: 7px;
  margin-bottom: 15px;
}

.header__mobmenu-link:hover {
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}

.header__auth {
  background-color: #202020;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-left: 30px;
  }

  .header__link-items {
    margin-right: 30px;
  }

  .header__link {
    font-size: 12px;
  }
  .header__mobmenu {
    width: 520px;
  }
  .header__mobmenu-title {
    margin: 159px 0 0;
  }
  .header__mobmenu-items {
    margin: 28px 0 0;
  }
  .header__mobmenu-link {
    padding-bottom: 4px;
    margin-bottom: 22px;
  }
  
  .header__mobmenu-link:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 2px;
  }
  
}

@media screen and (min-width: 769px) {
  .header__link-items_auth {
    display: flex;
  }
  .header__mobmenu{
    display: none;
  }
}



@media screen and (min-width: 1280px) {
  .header {
    max-width: 1280px;
  }

  .header__logo {
    margin-left: 70px;
  }

  .header__link-items {
    margin-right: 70px;
  }

}










/* .header {
  max-width: 1280px;
  height: 74px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #073042;
}


.header__logo {
  margin-left: 70px;
  width: 38px;
  height: 38px;
}
.header__link-item {
  margin-right: 70px;
  display: flex;
  align-items: baseline;
  list-style-type: none;
}

.header__link {
  font-weight: medium;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}


.header__link-items:first-child {
  margin-right: 30px;
}

.header__link-register {
  font-size: 12px;
  line-height: 16px;
  color: #fff;

  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin-left: 30px;
  }
  .header__link-item {
    margin-right: 30px;
  }
}

@media screen and (min-width: 320px) {
  .header__logo {
    margin-left: 14px;
  }
  .header__link-item {
    margin-right: 14px;
  }
  .header__link-register {
    font-size: 10px
  }
} */