.promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  height: 524px;
  margin: 0 auto;

  background-image: url('../../../images/promo-logo.svg');
  background-repeat: no-repeat;
  background-position: center 82px;
  background-color: #073042;
}

.promo__header {
  margin: 184px 0 0 0;
  max-width: 730px;

  text-align: center;
  font-style: normal;
  color: #fff;
  font-size: 50px;
  line-height: 58px;

  font-weight: 400;
  letter-spacing: -0.04em;
}
