.about-me {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;
  background-color: #202020;
  padding: 70px 14px;
}

.about-me__photo-profile {
  border-radius: 10px;
  width: 292px;
  height: 352px;
  margin: 0 auto;
}

.about-me__title {
  color: #fff;
  margin: 0;
  padding-bottom: 28px;
  box-sizing: border-box;
  border-bottom: 1px solid #dadada;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
}

.about-me__paragraph-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.about-me__paragraph-content {
  width: 100%;
}

.about-me__paragraph-title {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.04em;
  color: #fff;
}

.about-me__paragraph-job {
  margin: 20px 0 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: #fff;
}

.about-me__paragraph-text {
  margin: 20px 0 0;
  min-width: 292px;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #fff;
}


.about-me__paragraph-items {
  margin: 40px 0 0;
  list-style-type: none;
  display: flex;
  padding: 0;
}

.about-me__paragraph-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  margin-right: 26px;
}

.about-me__paragraph-item:last-child {
  margin-right: 0px;
}

.aboute-me__link {
  color: #fff;
  text-decoration: none;
}

.aboute-me__link:hover {
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__title {
    padding-bottom: 23px;
    font-size: 22px;
    line-height: 27px;
  }

  .about-me__paragraph-wrap {
    flex-direction: row-reverse;
    margin-top: 66px;
  }

  .about-me__paragraph-content {
    width: 100%;
  }

  .about-me__photo-profile {
    width: 255px;
    height: 307px;
  }

  .about-me__paragraph-title {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__paragraph-job {
    margin: 16px 0 0;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__paragraph-text {
    max-width: 364px;
    font-size: 12px;
    line-height: 18px;
  }


  .about-me__paragraph-items {
    margin: 87px 0 0;
  }

  .about-me__paragraph-item {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .about-me {
    padding: 110px 70px;
  }

  .about-me__paragraph-wrap {
    margin-top: 66px;
  }

  .about-me__photo-profile {
    width: 270px;
    height: 327px;
  }

  .about-me__paragraph-title {
    font-size: 50px;
    line-height: 58px;
  }

  .about-me__paragraph-job {
    margin: 18px 0 0;
    font-size: 18px;
    line-height: 20px;
  }

  .about-me__paragraph-text {
    max-width: 600px;
    font-size: 14px;
    line-height: 22px;
  }

  .about-me__paragraph-items {
    margin: 99px 0 0;
  }
}